# Supabase — dapatkan dari https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# Link.id — URL pembayaran
NEXT_PUBLIC_PAYMENT_URL=https://link.id/your-payment-link

# WhatsApp admin
NEXT_PUBLIC_WA_NUMBER=6285167060863
