# Supabase — dapatkan dari https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://bexowcpqfdtwzftmixor.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJleG93Y3BxZmR0d3pmdG1peG9yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MTQ4MjQsImV4cCI6MjA4OTQ5MDgyNH0.jn4FVoS62RYUxe34hK-1iCVKNyVuoruHzixMOg7roXg

# Link.id — URL pembayaran
NEXT_PUBLIC_PAYMENT_URL=https://lynk.id/voucherindonesia?utm_source=ig&utm_medium=social&utm_content=link_in_bio&fbclid=PAb21jcAQoxrhleHRuA2FlbQIxMQBzcnRjBmFwcF9pZA81NjcwNjczNDMzNTI0MjcAAaeeXLm3UZ2D_981ablPRIYOq7Ps2ry1ypvWIBwDrlwnDYfhmtf1QKQlsqtBNA_aem_0I5MjVzQn7EX0SDpQeliMA

# WhatsApp admin
NEXT_PUBLIC_WA_NUMBER=6285167060863
